#include "resource.h"
#include <Windows.h>

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 2,0,0,0
 PRODUCTVERSION 2,0,0,0
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x2L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "CompanyName", "The Ghost"
            VALUE "FileDescription", "Half Sword Enhancer Loader"
            VALUE "FileVersion", "2.0.0.0"
            VALUE "InternalName", "HSEnhancerProxy"
            VALUE "LegalCopyright", "Copyright (C) 2026 The Ghost"
            VALUE "OriginalFilename", "winmm.dll"
            VALUE "ProductName", "Half Sword Enhancer"
            VALUE "ProductVersion", "2.0.0.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END
